.card {
  position: relative;
  min-height: 17.5rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 

  &__wrapper {
    padding: 1rem 1.5rem 1rem;
    border-right: 1px solid rgb(185, 185, 185);

    @include tablet {
      padding: 1.25rem 1rem 1.25rem;
    }

    @include mobile {
      padding: 1rem 1.25rem;
    }
  }

  @include tablet {
    min-height: 12.5rem;
  }

  &__content {
    position: relative;
    z-index: 3;
  }

  &__img {
    width: 100%;
    height: 11rem;
    object-fit: cover;

    @include mobile {
      height: 10rem;
    }
  }

  &__background {
    position: absolute;
    opacity: 0.1;
    z-index: 2;
    top: 0;
    width: 100%;
    margin: 0 auto;
  }

  &__icon {
    color: $second-color;
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;

    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__p {
    @include mobile {
      text-align: center;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 35px;

    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 3.75rem;
      height: 2px;
      background-color: $main-color;
      bottom: -15px;
      left: 0;

      @include mobile {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include mobile {
      text-align: center;
    }
  }

  &__secondary-title {
    letter-spacing: 2px;
    font-size: 1.1rem;

    @include mobile {
      letter-spacing: 1px;
      font-size: 1rem;
    }
  }

  &__item {
    margin-bottom: 0.75rem;
    font-size: .9rem;

    @include mobile {
      font-size: 0.85rem;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding: 1rem 1.5rem;
    color: $white;
    font-size: 1rem;
    display: flex;
    align-items: center;

    @include mobile {
      font-size: $font-sm;
      padding: 0.6rem 1.2rem;
    }

    &--view {
      background-color: $second-color;
    }

    &--github {
      background-color: $main-color;
    }
  }

  &__fontawesome {
    font-size: 1.4rem;
    margin-right: 10px;
  }
}
