.footer {
  background-color: rgba(75,138, 142, 0.081);
  position: relative;
  overflow-x: hidden;
  color: white;
  &__wrapper {
    padding: 40px 25px;
    margin-top: 50px;
    position: absolute;
    z-index: 3;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1500px;
  }

  &__upper {
    padding: 40px 25px;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(114, 114, 114);
  }

  &__title {
    margin-bottom: 35px;
    letter-spacing: 4px;
  }

  &__lower {
    text-align: center;
    padding-top: 30px;
    letter-spacing: 3px;
    font-weight: 300;
  }

  &__item {
    padding-bottom: 15px;
  }

  &__link {
    letter-spacing: 5px;
  }

  & li:first-child {
    margin-right: 20px;
  }
}

.footer-social {
  display: flex;

  &__item {
    padding-bottom: 15px;
  }
  & li:first-child {
    margin-right: 20px;
  }
}
