.footer {
  background-color: rgba(75,138, 142, 0.081);
  position: relative;
  overflow-x: hidden;
  color: white;


  &__wrapper {
    padding: 10px 25px;
    margin-top: 30px;
    position: absolute;
    z-index: 3;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $second-color;

    @include mobile {
      padding: 0rem 1rem;
    }
  }

  &__upper {
    padding: 10px 25px;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(114, 114, 114, 0.4);

    @include mobile {
      flex-direction: column;
      padding: 15px 10px;
      border-bottom: none;
    }
  }

  &__title {
    margin-bottom: 35px;
    letter-spacing: 4px;
  }

  &__lower {
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 3px;
    font-weight: 300;
    
    @include mobile {
      opacity: 0.2;
      text-align: right;

    }
  }

  &__item {
    padding-bottom: 15px;
  }

  &__link {
    letter-spacing: 5px;
    @include mobile {
      letter-spacing: 2px;
    }
  }

  & li:first-child {
    margin-right: 20px;
  }
}

.footer-social {
  display: flex;

  &__item {
    padding-bottom: 15px;
    & a:hover {
      color: rgb(16, 247, 208);
    }
    
  }
  & li:first-child {
    margin-right: 20px;
  }
}
