.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.3s cubic-bezier(0.5, 0.5, 0.6, 1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
    max-width: 93.75rem;
    margin: 0 auto;

    @include mobile {
      padding: 0.5rem 1rem;
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      transform: rotate(90deg) translateX(-100%);
      height: 100%;
      opacity: 0.9;
      z-index: 200;
      display: block;
      content: "";
      background-color: $second-color;
      transition: all 0.4s cubic-bezier(0.7, 0.1, 0.3, 1);
    }

    &.pasthero {
      &:after {
        transform: translateY(0) rotate(0);
      }
    }
  }

  &__element {
    position: relative;
    z-index: 202;
  }

  &__link {
    margin-right: 20px;
    color: $white-shade;

    &:hover {
      color: rgb(16, 247, 208);
    }
  }
}
