.grid-25 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.grid-33 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.grid-50 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include mobile {
    grid-template-columns: 1fr;
  }

  &--no-break {
    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.gap-1 {
  grid-gap: 0.5rem;
}

.gap-2 {
  grid-gap: 1rem;
}

.gap-3 {
  grid-gap: 1.5rem;
}

.gap-4 {
  grid-gap: 2rem;
}

.gap-5 {
  grid-gap: 4rem;
}

.gap-6 {
  grid-gap: 6rem;

  @include mobile {
    grid-gap: 2rem;
  }
}
