$main-color: #720606;
$main-color-shade: #d79b7d;
$second-color: #f28705;
$third-color: #4d9484;

//mov #b270ae;
$white-shade: #f0f0e8;

$white: #ffffff;
$dark: #31180f;
$black: #000000;

$font-sm: 0.9rem;
$font-common: 1rem;
