$main-color: #B270AE;
$main-color-shade: #b858b1;
$second-color: #70AEB2;
$third-color: #4d9484;

//mov #b270ae;
$white-shade: #f0f0e8;

$white: #ffffff;
$dark: #31180f;
$black: #000000;

$font-sm: 0.9rem;
$font-common: 1rem;
